{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-12">
                <h2>{% trans "Sign In" %}</h2>
                {% if request.method == 'POST' %}
                    <div class="alert alert-warning" role="alert">
                        <strong>{% trans "Is your account active?" %}</strong>
                        {% url 'account_reset_password' as reactivate_url %}
                        {% blocktrans %}When releasing this (new) website, all accounts were deactivated.
                          In order to reactivate it, <strong><a href="{{ reactivate_url }}">a new password must be set</a></strong>.{% endblocktrans %}
                    </div>
                {% endif %}
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button id="sign-in-button" class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                </form>
            </div>
        </div>
        <br>
        <p>
            <a href="{% url 'account_signup' %}">{% trans 'Signup for a new account.' %}</a>
            <br>
            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </p>
    </div>
{% endblock %}

