{% load staticfiles i18n cms_tags menu_tags sekizai_tags core_tags %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}WOCAT{% endblock title %}</title>
    {% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock %}
    <meta name="description" content="">
    <meta name="author" content="">

    <meta property="og:description" content="Wocat"/>
    <meta property="og:image" content="/static/images/og-image.png"/>
    <meta property="og:locale" content="de"/>
    <meta property="og:site_name" content="Wocat"/>
    <meta property="og:title" content="Wocat"/>
    <meta property="og:url" content=""/>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/apple-touch-icon-114x114-precomposed.png"/>

    {% block css %}
        <!-- Your stuff: Third-party css libraries go here -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}">

        {% if debug %}
            <link rel="stylesheet/less" type="text/css" href="{% static 'less/wocat.less' %}"/>
            <script src="{% static 'js/less.min.js' %}"></script>
        {% else %}
            <link href="{% static 'css/wocat.css' %}" rel="stylesheet">
        {% endif %}
    {% endblock %}

    {% render_block "css" %}
</head>

<body>
{% cms_toolbar %}

{% header %}

{% if messages %}
    <div class="container">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}


{% block content_container %}
    <div class="container">
        {% show_breadcrumb %}
        <hr>
        {% block content %}
                <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}
    </div>
{% endblock content_container %}


{% block footer %}
{% endblock %}


{% block modal %}
{% endblock modal %}

<!-- Le javascript -->
{% block javascript %}
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/wocat.js' %}"></script>
{% endblock javascript %}
{% render_block "js" %}
</body>
</html>
