// Wocat CSS

@color-neutral: #bbb;
@color-neutral-dark: #777777;
@color-black: #333;
@color-primary: #DA812C;
@color-primary-dark: #CC6300;
@color-secondary-dark: #015C6C;
@color-white: #FFF;

@import "open-sans.less";

@import "bootstrap/bootstrap.less";



body {
	// https://stackoverflow.com/questions/6935040/disadvantages-to-using-css-word-wrap-globally
	word-wrap: break-word;
}

a {
	&:hover, &:active, &:focus {
		color: @color-primary-dark;
	}

	&.h1, &.h2, &.h3, &.h4, &.h5, &.h6 {
		color: @color-primary;

		&:hover, &:active, &:focus {
			color: @color-primary-dark;
		}
	}
}

h1, .h1 {
	font-weight: 200;
}
h4, .h4 {
	font-weight: 600;
}

.btn {
	font-weight: 600;

	&.btn-default {
		background-color: transparent;
	}
}



#affix-wrapper {
	position: relative;
}
#affix {
	position: absolute;
	top: 0;
	left: 0;

	&.affix-fixed {
		position: fixed;
	}
}


.widget-header {
	.navbar-default {
		border-width: 0;
		margin: 0;

		.topnav {
			background-color: @color-white;

			.navbar-toggle {
				border-width: 0;

				&:hover, &:focus {
				}
			}


			.navbar-brand {
				height: auto;

				> img {
					width: 120px;
					@media(min-width:768px) {
						width: 190px;
					}
					height: auto;
				}
			}

			.navbar-nav > li > a {
				color: @color-neutral-dark;
				text-transform: uppercase;
				font-size: 12px;
			}


		}

		.mainnav {
			.navbar-toggle {
				border-width: 0;
				background-color: @color-white;

				.icon-bar {
					background-color: @color-primary;
				}


				&:hover, &:focus {
				}
			}

			.navbar-brand {
				img {
					width: auto;
					height: 30px;
					display: inline-block;
				}
				.navbar-brand-name {
					display: inline-block;
					color: @color-white;
				}
			}

			&.mainnav-depth-1 {
				background-color: @color-primary;
				color: @color-white;
				min-height: 7px; // Für XS
			}
			&.mainnav-depth-2, &.mainnav-depth-3 {
				border: 1px solid @color-primary;
				border-width: 5px 0 0 0;
				background-color: @color-neutral-dark;
				color: @color-white;
			}

			.navbar-nav > li > a {
				color: @color-white;
			}
		}
	}
}


.widget-teaser {
	margin-bottom: 30px;

	.widget-teaser-imgtop, .widget-teaser-imgleft, .widget-teaser-imgright {
		width: 100%;
		height: auto;
		display: block;
		margin-bottom: 15px;
	}

	.widget-teaser-date {
		color: @color-neutral-dark;
		font-size: 12px;
	}

	.widget-teaser-title {
		display: block;
		margin: 0 0 15px 0;

		&.widget-teaser-title-lines {
			border: 1px solid @color-primary;
			border-width: 1px 0;
			padding: 10px 0;

			&:hover, &:active, &:focus {
				text-decoration: none;
				border-color: @color-primary-dark;
			}
		}
	}

	.widget-teaser-readmoretext {
		display: block;

		&.widget-teaser-readmoretext-lines {
			border: 1px solid @color-neutral;
			border-width: 1px 0;
			padding: 10px 0;

			&:hover, &:active, &:focus {
				text-decoration: none;
				border-color: @color-neutral-dark;
			}
		}
	}
}


.widget-teaser-super {
	padding: 15px;
	margin-bottom: 30px;

	&.widget-teaser-super-backgroundimage {
		background-size: cover;
		background-position: center;
	}
	&.widget-teaser-super-blue {
		background-image: url(/static/images/striped-background-secondary.png);
		background-repeat: repeat;
	}

	.widget-teaser {
		margin-bottom: 0;
	}
}

.widget-teaser-super-narrow {
	margin-bottom: 30px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-size: cover;
	background-position: center;

	.widget-teaser-super-narrow-background {
		background-image: url(/static/images/striped-background-primary.png);
		background-repeat: repeat;
		padding: 15px;
	}

	.widget-teaser {
		margin-bottom: 0;
	}
}



.widget-page-lead-overlay {
	.widget-page-lead-overlay-box-wrapper {
		.widget-page-lead-overlay-box {
			margin-top: 30px;
			margin-bottom: 30px;
			margin-left: 0;
			margin-right: 0;

			h1 {
				margin: 0 0 15px 0;
			}
			p.lead {
				margin: 0;
				font-weight: 600;
				font-size: 14px;
			}
		}
	}

	@media(min-width:768px) {
		.widget-page-lead-overlay-box-wrapper {
			position: relative;

			.widget-page-lead-overlay-box {
				margin: 0 -20px;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				background-color: @color-white;
				padding: 25px 20px 0 20px;
			}
		}
	}
}

.widget-horizontal-ruler {
	margin-bottom: 30px;
	margin-top: 15px;

	hr {
		border-top-color: @color-neutral;
		margin: 0;
	}
}


.widget-image {
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		height: auto;
		display: block;
	}

	.widget-image-caption {
		margin: 10px 0 0 0;
		font-style: italic;
	}

	.widget-image-overlay {
		margin: 0;
		padding: 15px;
		font-weight: 600;

		.widget-image-overlay-date {
			margin: 0 0 1px 0;
		}
		.widget-image-overlay-heading {
			margin: 0 0 15px 0;
		}
		.widget-image-overlay-text {
			margin: 0 0 15px 0;
		}
		.widget-image-overlay-link {
			margin: 0 0 5px 0;
			display: block;
		}

		@media(min-width:768px) {
			background-color: rgba(0,0,0,0.5);
			color: @color-white;
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
		}

	}

}

.widget-readmorelink {
	margin-bottom: 30px;
}




.widget-richtext-content {
	margin: 0 0 30px 0;


	img.filer_image {
		display: block;
		width: 100%;
		height: auto;

		@media (min-width: 768px) {
			&.left {
				clear: both;
				float: left;
				width: 50%;
				margin: 0 15px 15px 0;
			}

			&.right {
				clear: both;
				float: right;
				width: 50%;
				margin: 0 0 15px 15px;
			}
		}

		@media (min-width: 992px) {
			&.left, &.right {
				width: 33%;
			}
		}
	}

	.responsive-object {
		margin-top: 15px;
		clear: both;
	}

	*:first-child {
		margin-top: 0;
	}
	*:last-child {
		margin-bottom: 0;
	}
}


.widget-embed {
	margin-bottom: 30px;
}
.widget-embed, .widget-richtext-content {
	.responsive-object {
		position:relative;

		iframe, object, embed {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
}


.widget-columns-1-1, .widget-columns-2-1, .widget-columns-1-2 {
	margin-bottom: 30px;

	> .col {
		> *:first-child {
			margin-top: 0;
		}
		> *:last-child {
			margin-bottom: 0;
		}
	}
}


.widget-members-table {
	margin-bottom: 30px;

	.widget-members-table-selector {
		text-align: right;
		margin-bottom: 15px;

		.widget-members-table-countryselector, .widget-members-table-expertiseselector, .widget-members-table-sortselector {
			width: auto;
			max-width: 100%;
			display: inline-block;
		}
	}

	.widget-members-table-headline {
		margin-bottom: 15px;

		.widget-members-table-avatar {
			display: inline-block;
			width: 95px;
		}
		.widget-members-table-name {
			display: inline-block;
			width: 200px;
			font-weight: bold;
		}
		.widget-members-table-country {
			display: inline-block;
			width: 200px;
			font-weight: bold;
		}
		.widget-members-table-organisation {
			display: inline-block;
			width: 200px;
			font-weight: bold;
		}
		.widget-members-table-expertises {
			display: inline-block;
			width: 200px;
			font-weight: bold;
		}
	}

	.widget-members-table-member {
		margin-bottom: 15px;

		.widget-members-table-avatar {
			display: inline-block;
			vertical-align:top;
			width: 95px;

			img {
				display: inline-block;
				width: 80px;
				height: auto;
			}
		}
		.widget-members-table-name {
			display: inline-block;
			vertical-align:top;
			width: 200px;
		}
		.widget-members-table-country {
			display: inline-block;
			vertical-align:top;
			width: 200px;
		}
		.widget-members-table-organisation {
			display: inline-block;
			width: 200px;
			vertical-align:top;

			.member-position {
				font-style: italic;
			}
		}
		.widget-members-table-expertises {
			display: inline-block;
			width: 200px;
			vertical-align:top;

			.expertise {
				&:after {
					content: ', ';
				}

				&:last-child {
					&:after {
						content: '';
					}
				}
			}
		}
	}

	.pages {
		.pagination {
			margin-top: 0;
		}
	}
}




.widget-nullboolean, .widget-multiselect {
	.control-label {
		margin-right: 10px;
	}

	.widget-options {
		display: inline-block;

		label.radio-inline, label.checkbox-inline {
			margin: 0;
			padding: 0;

			input {
				display:none;

				+ span {
					border: 1px solid @color-primary;
					display:inline-block;
					margin: 0;
					padding: 4px 12px;
					background-color: @color-white;
					color: @color-primary;

					&:hover, &:focus, &:active {
						color: @color-primary-dark;
						border-color: @color-primary-dark;
					}
				}
				&:checked + span {
					background-image: none;
					background-color: @color-primary;
					color: @color-white;

					&:hover, &:focus, &:active {
						background-color: @color-primary-dark;
						border-color: @color-primary-dark;
					}
				}
			}

		}

	}

}
.widget-nullboolean {
	margin-bottom: 30px;

	.widget-options {

		label.radio-inline, label.checkbox-inline {
			+ label.radio-inline, + label.checkbox-inline {
				span {
					border-left-width: 0;
				}
			}
		}
	}
}


.widget-multiselect {
	margin-bottom: 30px;

	.widget-options {

		label.radio-inline, label.checkbox-inline {
			margin-right: 10px;
			margin-bottom: 10px;
		}

		&.widget-options-notchecked {
			margin-top: 10px;
			display: block;

			label.radio-inline, label.checkbox-inline {
				span {
					border-color: @color-primary;
					color: @color-primary;
				}
			}
		}


		&.widget-options-template {
			display: none;
		}
	}


	.widget-select-custom {
		// Input for new tags
		margin-top: 15px;

		input {
			max-width: 400px;
		}
	}
}



.widget-breadcrumb {
	margin-bottom: 15px;
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;

	a {
		color: @color-black;

		&:hover, &:focus {
			color: @color-primary;
		}
	}

	> li.active a {
		text-decoration: none;
	}

	> li + li::before {
		content: ">";
		color: @color-black;
	}
}


.widget-button {
	margin-bottom: 30px;
}


.widget-footer {
	background-color: @color-neutral;
	padding: 15px 0;

	.widget-footer-navbar {
		text-align: center;

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li {
				padding: 0;
				margin: 0;
				display: inline-block;

				a {
					display: inline-block;
					padding: 10px;
					margin-bottom: 10px;
					color: @color-black;
					font-weight: 600;

					&:hover, &:focus, &:active {
						// color: @color-neutral-dark;
					}
				}

				&.active {
					a {
						background-color: @color-white;
					}
				}
			}
		}
	}

	.widget-footer-license {
		a {
			color: inherit;
			font-weight: 600;
		}
	}
}

// ############# Print ##############

@media print {
	.container {
		width: auto;
	}

	.widget-header,
	.widget-footer,
	.widget-social-links,
	.widget-nav-stacked,
	.widget-breadcrumb,
	.widget-pagination,
	.widget-monsterbutton-group,
	.widget-button,
	.widget-carousel,
	.widget-imagebuttonlink,
	.widget-readmorelink,
	iframe,
	.widget-embed,
	.rich-text .responsive-object,
	form {
		display: none;
	}
}
