{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "User" %}: {{ object.name }}{% endblock %}

{% block content %}
    {% include 'widgets/heading1.html' with text=object.name %}
    <br><br>
    {{ userprofile_output }}
    <br>

    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                {% if object.avatar %}
                    <div class="col-sm-5 col-md-4">
                        {% include 'widgets/image.html' with src=object.avatar.url name=object href=object.detail_url %}
                    </div>
                {% endif %}
                <div class="col-sm-7 col-md-offset-1">
                    {% if user == request.user %}
                        {% trans 'edit profile' as edit_text %}
                        {% include 'widgets/read-more-link.html' with fontawesome='pencil' text=edit_text href=object.update_url %}
                    {% endif %}
                    <p>
                        {% if object.object.email %}
                            <a href="mailto:{{ object.email }}"><i
                                    class="fa fa-envelope fa-fw"></i> {{ object.email }}</a><br>
                        {% endif %}
                        {% if object.phone %}
                            <a href="tel:{{ object.phone }}"><i
                                    class="fa fa-phone fa-fw"></i> {{ object.phone }}
                            </a><br>
                        {% endif %}
                        {% if object.full_address %}
                            <a href="http://maps.google.com/?q={{ object.full_address }}"><i
                                    class="fa fa-map-marker fa-fw"></i> {{ object.full_address }}</a><br>
                        {% endif %}
                        {% if object.country %}
                            <img src="{{ object.country.flag }}" class="inlineflag"
                                 alt="{{ object.country.name }}"> {{ object.country.name }}
                        {% endif %}

                    </p>
                    {% if object.institution %}
                        <br>
                        <h3>{% trans "Institution" %}</h3>
                        <p>
                            {{ object.institution }}<br>
                            <em>{% trans "Position" %}: {{ object.position }}</em>
                        </p>
                    {% endif %}
                </div>
            </div><!-- row -->
            {% if object.key_work_topics.exists %}
                <br>
                <h3>{% blocktrans %}Key Work Topics{% endblocktrans %}</h3>
                <p>
                    {% for topic in object.key_work_topics.all %}
                        <span class="badge">{{ topic }}</span>
                    {% endfor %}
                </p>
            {% endif %}
            {% if object.experiences.exists %}
                <br>
                <h3>{% blocktrans %}WOCAT Experiences{% endblocktrans %}</h3>
                <p>
                    {% for experience in object.experiences.all %}
                        <span class="badge">{{ experience }}</span>
                    {% endfor %}
                </p>
            {% endif %}
        </div>
        <div class="col-sm-3 col-sm-offset-1">
            {{ users_teaser }}
            {{ qcat_teaser }}
        </div>
    </div><!-- row -->


    <br><br>
{% endblock content %}

