{% load static %}<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}Wocat{% endblock title %}</title>
	{% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock %}
	<meta name="description" content="">
	<meta name="author" content="">

	<meta property="og:description" content="Wocat"/>
	<meta property="og:image" content="/static/images/og-image.png"/>
	<meta property="og:locale" content="de"/>
	<meta property="og:site_name" content="Wocat"/>
	<meta property="og:title" content="Wocat"/>
	<meta property="og:url" content=""/>
	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"/>
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/apple-touch-icon-114x114-precomposed.png"/>

	<script src="/static/vendor/js/less.min.js"></script>

	{% block css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}">
		<link rel="stylesheet/less" type="text/css" href="{% static 'less/wocat.less' %}"/>
		<script src="{% static 'js/less.min.js' %}"></script>
	{% endblock %}
</head>

<body>
{% block header %}
{% endblock %}


{% block messages %}
	<div class="container">
		{% if messages %}
		{% endif %}
	</div>
{% endblock %}


{% block content %}
{% endblock %}


{% block footer %}
{% endblock %}


{% block modal %}
{% endblock modal %}


{% block javascript %}
	<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/leaflet.js' %}"></script>
	<script src="{% static 'js/wocat.js' %}"></script>
{% endblock %}
</body>
</html>
