{% extends "styleguide/base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
	<link rel="stylesheet" href="{% static 'styleguide/css/index.css' %}">
{% endblock %}

{% block content %}
	{{ header1_output }}
	{{ carousel_output }}
	{{ page_lead_overlay_output }}

	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
				</p>
			</div>
		</div>
	</div>

	{{ header2_output }}

	<div class="container">
		<h1>WOCAT Styleguide</h1>

		{{ page_lead_overlay_noimage }}
		{{ page_lead_overlay_noimage_alternative }}

		{{ columns_1_1 }}
		{{ columns_2_1 }}
		{{ columns_1_2 }}
		{{ columns_1_1_1 }}


		<div class="row">
			<div class="hidden-xs col-sm-4 col-md-3">
				<div id="affix-wrapper">
					<div id="affix">
					{{ sidebar_output }}
					</div>
				</div>
			</div>
			<div class="col-sm-8 col-md-7">
				{{ heading1 }}
				{{ heading2 }}
				{{ heading2_link }}
				{{ heading3 }}
				{{ heading3_link }}

				{{ carousel_ugly }}
				{{ carousel_widgetchooser_two }}
				{{ carousel_widgetchooser_one }}
				{{ carousel_widgetchooser_zero }}

				{{ teaser_noimg }}
				{{ teaser_lines }}
				{{ teaser_lines_leftimage }}
				{{ teaser_lines_rightimage }}
				{{ teaser_lines_topimage }}
				{{ teaser_lines_large_rightimage }}
				{{ teaser_lines_large_leftimage }}
				{{ teaser_topimg }}
				{{ teaser_leftimg }}
				{{ teaser_rightimg }}


				{{ horizontal_ruler }}

				{{ image }}
				{{ image_overlaycaption }}
				{{ image_overlaycaption_map }}
				{{ richtext }}
				{{ embed }}

				{{ readmorelink }}
				{{ readmorelink_right }}

				{{ pagination }}

				{{ breadcrumb }}

				{{ button }}
				{{ button_center }}

				<h2>The buttons without widget</h2>
				<p>
					<button class="btn btn-default">Default Button</button>
					<button class="btn btn-primary">Primary Button</button>
					<button class="btn btn-link">Link Button</button>
				</p>

				<h2>Input elements <a href="http://getbootstrap.com/css/#forms-horizontal">(Bootstrap example)</a></h2>
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<label for="inputSelect" class="col-sm-2 control-label">Form Control</label>
						<div class="col-sm-10">
							<select class="form-control" id="inputSelect">
								<option>for Mayor Tom</option>
								<option>for Chris Hadfield</option>
								<option>for Fry and Homer</option>
								<option>for David Bowie</option>
								<option>for all Muppets</option>
							</select>
						</div>
					</div>




					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
									<input type="checkbox"> Remember me
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Sign in</button>
						</div>
					</div>
				</form>

				{{ nullboolean }}
				{{ nullboolean_error }}
				{{ nullboolean_nonull }}

				{{ multiselect_full }}
				{{ singleselect }}
				{{ singleselect_error }}


				{{ map }}



				<div id="affix-bottom"></div>
			</div>
		</div><!-- row -->


		<h2>Projekte in Afrika</h2>
		<div class="row">
			<div class="col-sm-4">
				{{ map_project_output }}
				<h3>Project Lalala</h3>
				<p>Teaser bla bla bla zum Projekt. Teaser bla bla bla zum Projekt. Und noch ein bisschen Text in dieser Zeile.</p>
				<p><a href="x">zum Projekt</a></p>
				<br>
				</div>
			<div class="col-sm-4">
				{{ map_project2_output }}
				<h3>Anderes Projekt</h3>
				<p>Der Teaser zu diesem Projekt ist kürzer.</p>
				<p><a href="x">zum Projekt</a></p>
				<br>
			</div>
			<div class="col-sm-4">
				{{ map_project1_output }}
				<h3>Noch ein Projekt</h3>
				<p>Ein paar Zahlen zum Projekt. Bruttoinlandsprodukt fünf Billionen Lira.</p>
				<p><a href="x">zum Projekt</a></p>
				<br>
			</div>
		</div>
		<p><a href="x">Alle Projete zeigen, auch die archivierten</a></p>
		<br><br>



		<h2>Countries involved</h2>
		<div class="row">
			<div class="col-sm-3">
				{{ map_project2_output }}
				<h3>Algerien</h3>
				<p>Ein paar Zahlen zu Algerien: Lala und Blubblub.</p>
				<p><a href="x">zum Land</a></p>
				<br><br>
			</div>
			<div class="col-sm-3">
				{{ map_project3_output }}
				<h3>Kenia</h3>
				<p>Ein paar Zahlen zu Kenia: Lala und Blubblub.</p>
				<p><a href="x">zum Land</a></p>
				<br><br>
			</div>
			<div class="col-sm-3">
				{{ map_project4_output }}
				<h3>Nigeria</h3>
				<p>Ein paar Zahlen zu Nigeria: Lala und Blubblub.</p>
				<p><a href="x">zum Land</a></p>
				<br><br>
			</div>
			<div class="col-sm-3">
				{{ map_project3_output }}
				<h3>Kenia</h3>
				<p>Ein paar Zahlen zu Kenia: Lala und Blubblub.</p>
				<p><a href="x">zum Land</a></p>
				<br><br>
			</div>
		</div>

		{{ image_overlaycaption_map }}

		{{ map }}


		{{ teaser_super_leftimg }}
		{{ teaser_super_leftimg_nobackground }}
		{{ teaser_super_narrow }}

		{{ members_table }}


	</div>

	{{ footer_output }}

{% endblock %}

{% block javascript %}
{{ block.super }}
	<script src="{% static 'styleguide/js/index.js' %}"></script>
{% endblock %}
