{% extends "styleguide/base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
	<link rel="stylesheet" href="{% static 'styleguide/css/index.css' %}">
{% endblock %}

{% block content %}
	{{ header1_output }}
	{{ carousel_output }}
	{{ header2_output }}

	<div class="container content-container">
		<h1>WOCAT Styleguide</h1>

		{{ heading1 }}
		{{ heading2 }}
		{{ heading2_link }}
		{{ heading3 }}
		{{ heading3_link }}

		{{ teaser_noimg }}
		{{ teaser_topimg }}
		{{ teaser_leftimg }}
		{{ teaser_rightimg }}

		{{ columns_1_1 }}
		{{ columns_2_1 }}
		{{ columns_1_2 }}
		{{ columns_1_1_1 }}


		{{ image }}
		{{ richtext }}
		{{ embed }}

		{{ readmorelink }}
		{{ readmorelink_right }}

		{{ pagination }}

	</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
	<script src="{% static 'styleguide/js/index.js' %}"></script>
{% endblock %}
