{% if site_id %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  {% if user_id %}_paq.push(['setUserId', '{{ user_id }}']);{% endif %}
  _paq.push(["setDomains", ["*.{{ domain }}"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.{{ domain }}/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '{{ site_id }}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.{{ domain }}/piwik.php?idsite={{ site_id }}" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
{% endif %}
