{% load i18n %}
{% load static %}


<div class="row">
  <!-- map legend -->
  <div id="map-panel" class="col-md-3">
    <!-- search and filter box -->
    <form target="#" method="GET" class="js-search">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="js-active-filter" data-filter-url="">{% trans "Filter" %}</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu js-set-filter">
            <li><a href="#" data-filter-url={% url 'map_search' 'projects' %}>{% trans "Projects" %}</a></li>
            <li><a href="#" data-filter-url={% url 'map_search' 'countries' %}>{% trans "Countries" %}</a></li>
            <li><a href="#" data-filter-url={% url 'map_search' 'regions' %}>{% trans "Initiatives" %}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" data-filter-url="">{% trans "All" %}</a></li>
          </ul>
        </div>
        <input type="text" class="form-control" placeholder="{% trans "Search" %}" name="q">
        <div class="input-group-btn">
          <button class="btn" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
    <!-- detail panel -->
    <div id="map-detail"></div>
  </div>

  <!-- map content -->
  <div class="col-md-12">
    <div id="map"></div>
  </div>
</div>

<script src="{% static 'js/mapPlugin.js' %}" defer="defer"></script>
<script defer="defer">
  window.jsReady = function() {
      $('#map').setMap();
  };
</script>

