{% extends 'pages/content.html' %}
{% load i18n wagtailcore_tags cms_tags projects_tags countries_tags %}

{% block content %}
    {% include_block page.content %}
    <div class="row cols-sm-3">
        <h3>{% trans 'Projects' %}</h3>
        {% for project in page.projects %}
            <div class="col">
                {% project %}
            </div>
        {% endfor %}
    </div>
    <div class="row cols-sm-3">
    <h3>{% trans 'Countries' %}</h3>
        {% for country in page.countries %}
            <div class="col">
                {% country %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
