{% extends "styleguide/base.html" %}
{% load static %}

{% block content %}

	{{ header1_home_output }}
	{{ carousel_output }}

	<div class="container">
		{{ page_lead_overlay_home_output }}

		<br><br>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-6">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				{{ teaser_home_globalissues_image_output }}
				{{ teaser_home_globalissues_output }}
			</div>
			<div class="col-sm-6">
				{{ heading3_news_output }}
				{{ teaser_lines_home_news_output }}
				{{ teaser_lines_home_news_long_output }}
				{{ teaser_lines_home_news_output }}
				{{ readmorelink_news_output }}
			</div>
		</div>


		{{ map_large_output }}
		{{ overlay_teaser_home_map_output }}



		<div class="row">
			<div class="col-sm-8">
				{{ image_nocaption_square_output }}
				{{ overlay_teaser_home_database_output }}
			</div>
			<div class="col-sm-4">
				{{ heading3_media_output }}
				{{ teaser_home_media_output }}
				{{ heading3_wiki_output }}
				{{ teaser_home_wiki_output }}
			</div>
		</div>

		{{ consortiumpartners_output }}
		{{ image_gallery_verticalalign_home_output }}
		<br><br>

	</div><!-- container -->
	{{ footer_demo_output }}

{% endblock %}
