{% extends "styleguide/base.html" %}
{% load static %}

{% block content %}
	{{ header1_home_output }}
	{{ carousel_output }}
	{{ page_lead_overlay_projectcountries_output }}

	<br>
	<div class="container">
		{{ breadcrumb_project_output }}
		<br>


		{{ heading2_projects_output }}
		<div class="row">
			<div class="col-sm-4">
				{{ map_teaser_project_output }}
			</div>
			<div class="col-sm-4">
				{{ map_teaser_project1_output }}
			</div>
			<div class="col-sm-4">
				{{ map_teaser_project_output }}
			</div>
		</div>
		{{ readmorelink_projects_output }}


		{{ heading2_countries_output }}
		<h3>Africa</h3>
		<div class="row">
			<div class="col-sm-3">
				{{ map_teaser_project2_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project3_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project4_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project3_output }}
			</div>
		</div>
		<h3>Asia</h3>
		<div class="row">
			<div class="col-sm-3">
				{{ map_teaser_project2_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project3_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project4_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project3_output }}
			</div>
		</div>
		<h3>Europe and Central Asia</h3>
		<div class="row">
			<div class="col-sm-3">
				{{ map_teaser_project2_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project3_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project4_output }}
			</div>
		</div>
		<h3>Latin America</h3>
		<div class="row">
			<div class="col-sm-3">
				{{ map_teaser_project2_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project3_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project4_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project3_output }}
			</div>
		</div>
		{{ readmorelink_countries_output }}

		{{ heading2_regions_output }}
		<h2>…</h2>
		<br><br>

	</div><!-- container -->
	{{ footer_demo_output }}
{% endblock %}
