{% extends "styleguide/base.html" %}
{% load static %}

{% block content %}
	{{ header1_home_output }}
	{{ carousel_output }}
	{{ page_lead_overlay_projectcountries_output }}

	<br>
	<div class="container">
		{{ breadcrumb_project_output }}
		<br>


		{{ heading2_projects_output }}
		<div class="row"><div class="col-sm-8">
			<p>Ein kleiner Einführungstext, was Projects überhaupt sind, wo es sie auf der Welt gibt, und was es auf den Projekt-Seiten so gibt. Dieser Text erklärt, was Projects überhaupt sind, wo es sie auf der Welt gibt, und was es auf den Projekt-Seiten so gibt.</p>
		</div></div>
		<div class="row cols-sm-4">
			<div class="col">
				{{ map_teaser_project_output }}
			</div>
			<div class="col">
				{{ map_teaser_project1_output }}
			</div>
			<div class="col">
				{{ map_teaser_project_output }}
			</div>
			<div class="col">
				{{ map_teaser_project1_output }}
			</div>
			<div class="col">
				{{ map_teaser_project_output }}
			</div>
			<div class="col">
				{{ map_teaser_project1_output }}
			</div>
		</div>
		{{ readmorelink_projects_output }}


		{{ horizontal_ruler_output }}
		{{ heading2_countries_output }}
		<div class="row"><div class="col-sm-8">
			<p>Ein kleiner Einführungstext, was die Länder überhaupt bedeuten, und was es auf den Länder-Seiten so gibt. Dieser Text erklärt, was die Länder überhaupt bedeuten, und was es auf den Länder-Seiten so gibt.</p>
		</div></div>
		<h3>Africa</h3>
		<div class="row">
			<div class="col-sm-3">
				{{ map_teaser_project2_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project3_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project4_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project3_output }}
			</div>
		</div>
		<h3>Asia</h3>
		<div class="row">
			<div class="col-sm-3">
				{{ map_teaser_project2_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project3_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project4_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project3_output }}
			</div>
		</div>
		<h3>Europe and Central Asia</h3>
		<div class="row">
			<div class="col-sm-3">
				{{ map_teaser_project2_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project3_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project4_output }}
			</div>
		</div>
		<h3>Latin America</h3>
		<div class="row">
			<div class="col-sm-3">
				{{ map_teaser_project2_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project3_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project4_output }}
			</div>
			<div class="col-sm-3">
				{{ map_teaser_project3_output }}
			</div>
		</div>
		{{ readmorelink_countries_output }}

		{{ horizontal_ruler_output }}
		{{ heading2_regions_output }}
		<div class="row"><div class="col-sm-8">
			<p>Ein kleiner Einführungstext, was Regions überhaupt sind, wo es sie auf der Welt gibt, und was es auf den Regions-Seiten so gibt. Dieser Text erklärt, was Regions überhaupt sind, wo es sie auf der Welt gibt, und was es auf den Regions-Seiten so gibt.</p>
		</div></div>
		<h2>…</h2>
		<br><br>

	</div><!-- container -->
	{{ footer_demo_output }}
{% endblock %}
