{% extends 'base.html' %}
{% load compress i18n media_tags sekizai_tags static cms_tags %}
{% load crispy_forms_tags %}

{% block content_container %}
  <div class="container">
    <br>
    {% breadcrumb %}
    {% content-language-switcher %}
    <br>
    <form id="search-media-form">
      {% csrf_token %}
      <input type="hidden" name="page" id="media-search-pagination-input">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            {{ media_filter.form.search|as_crispy_field }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-2">
          <div class="form-group">
            {{ media_filter.form.media_type|as_crispy_field }}
          </div>
        </div>
        <div class="col-sm-4 col-md-2">
          <div class="form-group">
            {{ media_filter.form.languages|as_crispy_field }}
          </div>
        </div>
        <div class="col-sm-4 col-md-2">
          <div class="form-group">
            {{ media_filter.form.year__gte|as_crispy_field }}
          </div>
        </div>
        <div class="col-sm-4 col-md-2">
          <div class="form-group">
            {{ media_filter.form.year__lte|as_crispy_field }}
          </div>
        </div>
        <div class="col-sm-4 col-md-2">
          <div class="form-group">
            {{ media_filter.form.continent|as_crispy_field }}
          </div>
        </div>
        <div class="col-sm-4 col-md-2">
          <div class="form-group">
            {{ media_filter.form.countries|as_crispy_field }}
          </div>
        </div>
      </div>
    </form>
    <br>
    <div id="search-media-results">
      {% include 'medialibrary/library_items.html' %}
    </div>
  </div>

  {% addtoblock "css" %}
    {% compress css %}
      <link rel="stylesheet" href="{% static "css/select2.min.css" %}" />
    {% endcompress %}
  {% endaddtoblock %}

  {% addtoblock "js" %}
    {% compress js %}
      <script src="{% static "js/select2.min.js" %}"></script>
      <script>
          $(function () {
              var form = $('#search-media-form');
              var searchResults = $('#search-media-results');
              form.find('select').select2().change(submitForm);

              // Delay form submission when typing
              var timeoutId = 0;
              form.find('input[type=text]').keyup(function () {
                  clearTimeout(timeoutId);
                  timeoutId = setTimeout(submitForm, 500);
              });

              // Helper to actually submit the form
              function submitForm() {
                  searchResults.addClass('loading-mask');
                  form.submit();
              }

              // Submit form through AJAX
              form.submit(function (e) {
                  $.ajax({
                      type: "POST",
                      data: form.serialize(),
                      success: function (data) {
                          searchResults.html(data);
                          // Exclude csrftoken from form data
                          var formParams = form.find(':input[name!=csrfmiddlewaretoken]').serialize();
                          // Add params to URL
                          window.history.pushState('', '', '?' + formParams);
                          searchResults.removeClass('loading-mask');
                      }
                  });
                  e.preventDefault();
              });

              // Intercept clicks on pagination links. Store selected page in
              // form and submit
              $('body').on('click', '.js-search-media-pagination', function(e) {
                  e.preventDefault();
                  $('#media-search-pagination-input').val($(this).data('page'));
                  submitForm();
              });
          });
      </script>
    {% endcompress %}
  {% endaddtoblock %}
{% endblock content_container %}
