{% load i18n %}
<div class="widget-members-table">
	<div class="widget-members-table-selector">
		<select class="widget-members-table-countryselector form-control" autocomplete="off">
			<option selected="selected" value="all">{{ allcountries }}</option>
			{% for country in countries %}
				<option>{{ country.name }}</option>
			{% endfor %}
		</select>
		<select class="widget-members-table-organisationselector form-control" autocomplete="off">
			<option selected="selected" value="all">{{ allorganisations }}</option>
			{% for organisation in organisations %}
				<option>{{ organisation.name }}</option>
			{% endfor %}
		</select>
		<select class="widget-members-table-expertiseselector form-control" autocomplete="off">
			<option selected="selected" value="all">{{ allexpertises }}</option>
			{% for expertise in expertises %}
				<option>{{ expertise.name }}</option>
			{% endfor %}
		</select>
		<select class="widget-members-table-sortselector form-control" autocomplete="off">
			<option selected="selected" value="name">by Name</option>
			<option value="country">by Country</option>
			<option value="organisation">by Organisation</option>
		</select>
	</div>

	<div class="widget-members-table-headline">
		<div class="widget-members-table-avatar">
		</div>
		<div class="widget-members-table-name h4">
            {% trans "Name" %}
		</div>
		<div class="widget-members-table-country h4">
            {% trans "Country" %}
		</div>
		<div class="widget-members-table-organisation h4">
            {% trans "Organisation" %}
		</div>
		<div class="widget-members-table-expertises h4">
            {% trans "Expertise" %}
		</div>
	</div>

	<div class="widget-members-table-members" data-maxpagesize="{{ maxpagesize }}">
		{% for member in members %}
			<div class="widget-members-table-member"{% if not member.visible %} style="display: none;"{% endif %}>
				<div class="widget-members-table-avatar">
					<img src="{{ member.avatarsrc }}" alt="Avatar">
				</div>
				<div class="widget-members-table-name">
					{% if member.href %}
						<a href="{{ member.href}}">
					{% endif %}
					{{ member.name }}
					{% if member.href %}
						</a>
					{% endif %}

				</div>
				<div class="widget-members-table-country">
					{{ member.country }}
				</div>
				<div class="widget-members-table-organisation">
					<div class="member-organisation">
						{{ member.organisation }}
					</div>
					<div class="member-position">
						{{ member.position }}
					</div>
				</div>
				<div class="widget-members-table-expertises">
					{% for expertise in member.expertises %}
						<span class="expertise">{{ expertise.name }}</span>
					{% endfor %}

				</div>
				<div class="clearfix"></div>
			</div>
		{% endfor %}
	</div>

	{% if pages %}
	<nav class="pages">
		<ul class="pagination">
		{% for pagenumber in pages %}
			<li{% if forloop.first %} class="active"{% endif %}>
				<a href="#" data-page="{{ pagenumber }}">{{ pagenumber }}</a>
			</li>
		{% endfor %}
		</ul>
	</nav>
	{% endif %}


	<div class="widget-members-table-nothingfound" style="display: none;">
		{% blocktrans %}No member found with this filter.{% endblocktrans %}
	</div>
</div><!-- widget-members-table -->
