<div class="widget-dsf-teaser">
	<img src="/static/images/dsslm.jpg">
	{% if module1href %}<a href="{{ module1href }}" class="widget-dsf-teaser-module1"></a>{% endif %}
	{% if module2href %}<a href="{{ module2href }}" class="widget-dsf-teaser-module2"></a>{% endif %}
	{% if module3href %}<a href="{{ module3href }}" class="widget-dsf-teaser-module3"></a>{% endif %}
	{% if module4href %}<a href="{{ module4href }}" class="widget-dsf-teaser-module4"></a>{% endif %}
	{% if module5href %}<a href="{{ module5href }}" class="widget-dsf-teaser-module5"></a>{% endif %}
	{% if module6href %}<a href="{{ module6href }}" class="widget-dsf-teaser-module6"></a>{% endif %}
	{% if module7href %}<a href="{{ module7href }}" class="widget-dsf-teaser-module7"></a>{% endif %}
</div><!-- widget-dsf-teaser -->
