<ul class="nav navbar-nav{% if align == "right" %} navbar-right{% endif %}">
    {#% include "widgets/language_chooser.html" %#}
	{% for link in links %}
		{% if link.dropdown %}
			<li class="dropdown{% if link.active %} active{% endif %}{% if link.onlyxs %} hidden-md hidden-lg{% endif %}">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.text|safe }} <span class="caret"></span></a>
				<ul class="dropdown-menu">
					{% for secondarylink in link.links %}
						<li{% if secondarylink.active %} class="active"{% endif %}>
							<a href="{{ secondarylink.href }}">{{ secondarylink.text|safe }}</a>
						</li>
					{% endfor %}
				</ul>
			</li>
		{% else %}
			<li class="{% if link.active %}active{% endif %}{% if link.onlyxs %} hidden-md hidden-lg{% endif %}">
				<a href="{{ link.href }}">{{ link.text|safe }}</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>
