<div class="widget-image-gallery{% if verticalalign %} widget-image-gallery-verticalalign{% endif %}">
	<div class="row cols-xs-{{ cols }}">{% for image in images %}<div class="col">
				{% if image.href %}
					<a href="{{ image.href }}">
				{% endif %}
				{% if image.shrink == 1 %}
					<div class="row"><div class="col-md-10 col-md-offset-1">
				{% elif image.shrink == 2 %}
					<div class="row"><div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				{% elif image.shrink == 3 %}
					<div class="row"><div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				{% endif %}
				<img src="{{ image.src }}" alt="" class="widget-image-gallery-image">
				{% if image.shrink %}
					</div></div>
				{% endif %}
				{% if image.description %}
					<p class="widget-image-gallery-description">{{ image.description }}</p>
				{% endif %}
				{% if image.href %}
					</a>
				{% endif %}
			</div>{% endfor %}</div><!-- row -->

</div><!-- widget-image-gallery -->
