<div class="widget-image">
{% if href %}
	<a href="{{ href }}"><img src="{{ src }}" class="image" alt="{{ caption }}"></a>
{% else %}
	<img src="{{ src }}" class="image" alt="{{ name }}" title="{{ caption }}">
{% endif %}
{% if caption %}
	<p class="widget-image-caption">{{ caption }}</p>
{% endif %}
{% if overlay %}
	<div class="widget-image-overlay">
		{% if overlay.date %}
			<div class="widget-image-overlay-date">{{ overlay.date }}</div>
		{% endif %}
		{% if overlay.heading %}
			<h3 class="widget-image-overlay-heading">{{ overlay.heading }}</h3>
		{% endif %}
		{% if overlay.text %}
			<p class="widget-image-overlay-text">{{ overlay.text }}</p>
		{% endif %}
		{% if overlay.links %}
			{% for link in overlay.links %}
				<a href="{{ link.href }}" class="widget-image-overlay-link">» {{ link.text }}</a>
			{% endfor %}
		{% endif %}
	</div>
{% endif %}
</div><!-- widget-image -->
