{% load i18n %}
{% load static %}
{% load compress %}


{% compress css %}
  <link rel="stylesheet" href="{% static "css/bootstrap-table.min.css" %}">
  <link rel="stylesheet" href="{% static "css/select2.min.css" %}" />
{% endcompress %}


<table id="table"></table>

{% compress js %}
  <script defer="defer">
      window.jsReady = function() {
          var $table = $("#table").bootstrapTable({
              url: "{% url 'institution-list' %}",
              // map params to defaults from drf with LimitOffsetPagination
              pagination: true,
              sidePagination: 'server',
              dataField: 'results',
              totalField: 'count',
              queryParams: 'drfQueryParams',
              search: true,
              columns: [
                  {
                      field: "logo",
                      title: "{% trans "Logo" %}",
                      formatter: "imgFormatter",
                      align: "center"
                  },
                  {
                      field: "name",
                      title: "{% trans "Name" %}",
                      sortable: true,
                      formatter: "nameFormatter"
                  },
                  {
                      field: "contact_person_name",
                      title: "{% trans "Contact person" %}"
                  },
                  {
                      field: "country_name",
                      title: "{% trans "Country" %}",
                      filter: {
                          type: "select",
                          data: [
                              {% for country in countries_list %}
                                  {id: "{{ country.0 }}", text: "{{ country.1 }}"},
                              {% endfor %}
                          ]
                      }
                  },
                  {
                      field: 'memorandum',
                      sortable: true,
                      title: "{% trans "Memorandum" %}",
                      formatter: "boolFormatter",
                      align: "center",
                      filter: {
                          type: "select",
                          data: [
                              {
                                id: true,
                                text: '{% trans "Signed" %}'
                              },
                              {
                                id: false,
                                text: '{% trans "Not signed" %}'
                              }
                          ]
                      }
                  }
              ],
              filter: true
          });
      };

      function imgFormatter(value, row) {
        return '<img src="' + value + '" height="80px">';
      }

      function boolFormatter(value, row) {
          return (value) ? '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>' : '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>';
      }

      function nameFormatter(value, row) {
          if (row.external_url === "") {
              return value
          } else {
              return '<a href="' + row.external_url +'" target="_blank">' + value + '</a>'
          }
      }

      function drfQueryParams(params) {
          /*
           Map query params to the default params of the django rest framework.
          */
          if ('filter' in params) {
              /*
              Filters are expected as query-params, not within the keyword
              'filter' - so put the 'filter' params to the querystring.
               */
              $.each(JSON.parse(params.filter), function(key, value) {
                  if (key === 'country_name') key = 'country';
                  params[key] = value;
              });
              delete params['filter'];
          }
          if (params.sort !== undefined) {
              /*
              Change keyword and use '-' for descending sort.
               */
              params['ordering'] = (params.order === 'desc') ? '-' : '';
              params['ordering'] += params.sort;
              delete params['sort'];
          }
          // ordering
          return params
      }
  </script>
  <script defer="defer" src="{% static "js/select2.min.js" %}"></script>
  <script defer="defer" src="{% static "js/bootstrap-table.min.js" %}"></script>
  <script defer="defer" src="{% static "js/bootstrap-table-select2-filter.js" %}"></script>
{% endcompress %}
