<div class="widget-map-teaser">
{% include "widgets/map.html" %}
{% if title %}
	<div class=h4>
		<a class="widget-map-teaser-readmoretext" href="{{ href }}"{% if external %} target="_blank"{% endif %}>
			{{ title|safe }}
		</a>
	</div>
{% endif %}
{% if description %}
	<p class="widget-map-teaser-description">
		{{ description|safe }}
	</p>
{% endif %}
{% if readmorelink %}
	<a class="widget-map-teaser-readmoretext" href="{{ href }}"{% if external %} target="_blank"{% endif %}>
		» {{ readmorelink.text|safe }}
	</a>
{% endif %}
</div><!-- widget-map-teaser -->
