{% load i18n %}
{% load static %}
{% load compress %}


{% compress css %}
  <link rel="stylesheet" href="{% static "css/bootstrap-table.min.css" %}">
  <link rel="stylesheet" href="{% static "css/select2.min.css" %}" />
{% endcompress %}


<table id="table"></table>

{% compress js %}
  <script defer="defer">
      window.jsReady = function() {
          var $table = $("#table").bootstrapTable({
              url: "{% url 'user-list' %}?is_active=true",
              // map params to defaults from drf with LimitOffsetPagination
              pagination: true,
              sidePagination: 'server',
              dataField: 'results',
              totalField: 'count',
              queryParams: 'drfQueryParams',
              search: true,
              classes: "table table-no-bordered",
              columns: [
                  {
                      field: "avatar",
                      title: "{% trans "Photo" %}",
                      formatter: "imgFormatter",
                      width: "10%"
                  },
                  {
                      field: "full_name",
                      title: "{% trans "Name" %}",
                      sortable: true,
                      width: "20%"
                  },
                  {
                      field: "country_name",
                      title: "{% trans "Country" %}",
                      width: "20%",
                      filter: {
                          type: "select",
                          data: [
                              {% for country in countries %}{id: "{{ country.0 }}", text: "{{ country.1 }}"},{% endfor %}
                          ]
                      }
                  },
                  {
                      field: "institution",
                      title: "{% trans "Institution" %}",
                      formatter: "functionFormatter",
                      width: "20%",
                      filter: {
                          type: "select",
                          data: [
                              {% for inst in institutions %}{id: "{{ inst.0 }}", text: "{{ inst.1 }}"},{% endfor %}
                          ]
                      }
                  },
                  {
                      field: "experiences",
                      width: "20%",
                      title: "{% trans "Expertise" %}",
                      filter: {
                          type: "select",
                          data: [
                              {% for exp in experiences %}{id: "{{ exp.pk }}", text: "{{ exp.name }}"},{% endfor %}
                          ]
                      }
                  }
              ],
              filter: true
          });
      };

      function imgFormatter(value, row) {
        return '<img src="' + value + '" height="80px">';
      }

      function functionFormatter(value, row) {
          if (row.institution_url !== "") {
               var institution = '<a href="' + row.institution_url +'" target="_blank">' + row.institution_name + '</a>'
          } else {
              var institution = row.institution_name
          }
          if (row.position === "") {
              return institution
          } else {
              return institution + ((institution === "") ? "" : "<br>")  + "<i>" + row.position + '</i>'
          }
      }

      function drfQueryParams(params) {
          /*
           Map query params to the default params of the django rest framework.
          */
          console.log(params);
          if ('filter' in params) {
              /*
              Filters are expected as query-params, not within the keyword
              'filter' - so put the 'filter' params to the querystring.
               */
              $.each(JSON.parse(params.filter), function(key, value) {
                  if (key === 'country_name') key = 'country';
                  params[key] = value;
              });
              delete params['filter'];
          }
          if (params.sort !== undefined) {
              /*
              Change keyword and use '-' for descending sort.
               */
              params['ordering'] = (params.order === 'desc') ? '-' : '';
              params['ordering'] += (params.sort === 'full_name') ? 'last_name' : params.sort;
              delete params['sort'];
          }
          // ordering
          return params
      }
  </script>
  <script defer="defer" src="{% static "js/select2.min.js" %}"></script>
  <script defer="defer" src="{% static "js/bootstrap-table.min.js" %}"></script>
  <script defer="defer" src="{% static "js/bootstrap-table-select2-filter.js" %}"></script>
{% endcompress %}
