<div class="widget-teaser">
{% if map %}
	{% include "widgets/map.html" with countries=map.countries size=map.size %}
{% endif %}
{% if imgsrc and imgpos == 'top' %}
	<img src="{{ imgsrc }}" alt="" class="widget-teaser-imgtop">
{% endif %}
{% if lines %}
	{% if title %}
		<a class="h4 widget-teaser-title widget-teaser-title-lines" href="{{ href }}"{% if external %} target="_blank"{% endif %}>
			{{ title }}
		</a>
	{% endif %}
{% endif %}
{% if imgsrc and imgpos == 'left' %}
	<div class="row">
		<div class="{% if largeimg %}col-sm-6{% else %}col-sm-4{% endif %}">
			<img src="{{ imgsrc }}" alt="" class="widget-teaser-imgleft">
		</div>
		<div class="{% if largeimg %}col-sm-6{% else %}col-sm-8{% endif %}">
{% endif %}
{% if imgsrc and imgpos == 'right' %}
	<div class="row">
		<div class="{% if largeimg %}col-sm-6 col-sm-push-6{% else %}col-sm-4 col-sm-push-8{% endif %}">
			<img src="{{ imgsrc }}" alt="" class="widget-teaser-imgright">
		</div>
		<div class="{% if largeimg %}col-sm-6 col-sm-pull-6{% else %}col-sm-8 col-sm-pull-4{% endif %}">
{% endif %}


{% if date %}
	<p class="widget-teaser-date">
		{{ date }}
	</p>
{% endif %}
{% if not lines %}
	{% if title %}
		<a class="h4 widget-teaser-title" href="{{ href }}"{% if external %} target="_blank"{% endif %}>
			{{ title }}
		</a>
	{% endif %}
{% endif %}

{% if description %}
	<p class="widget-teaser-description">
		{{ description|safe }}
	</p>
{% endif %}
{% if not lines %}
	{% if readmorelink %}
		<a class="widget-teaser-readmoretext" href="{{ href }}"{% if external %} target="_blank"{% endif %}>
			» {{ readmorelink.text|safe }}
		</a>
	{% endif %}
{% endif %}
{% if readmorebutton %}
	<a class="widget-teaser-readmorebutton btn btn-default" href="{{ href }}"{% if external %} target="_blank"{% endif %}>
		{{ readmorebutton.text|safe }}
	</a>
{% endif %}



<div class="widget-teaser-textbottom-spacer"></div>
{% if imgsrc and imgpos == 'left' %}
		</div>
	</div><!-- row -->
{% endif %}
{% if imgsrc and imgpos == 'right' %}
		</div>
	</div><!-- row -->
{% endif %}
{% if lines %}
	{% if readmorelink %}
		<a class="widget-teaser-readmoretext widget-teaser-readmoretext-lines" href="{{ href }}"{% if external %} target="_blank"{% endif %}>
			» {{ readmorelink.text|safe }}
		</a>
	{% endif %}
{% endif %}
</div><!-- widget-teaser -->
